/*
 * my css
 *
 */

body {
	font-family: "Lucida Grande","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size: 14px;
}

ul, ol, dl, td, th, caption, p, blockquote, input, textarea, table {
    color: #333333;
	/*
    font-family: Arial;
    line-height: 150%; */
}

a {
	text-decoration: none;
	-moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
	outline: none;
	color: #1D7591;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

h1, h2, label {
    color: #40495B;
}

h1 {
	padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 110%;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
}

h1 span {
	/* color: #666666; */
	color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

img {
	border-style: none;
	display: block;
	/*
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
	*/
	opacity: 0.8;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

body {
	background-attachment: scroll;
	overflow-y: scroll;
	/* 
	 background: #f2f1e7 url("/static/image/back.png");
	 background-repeat: repeat-x;
	 background-position: 0 0;
	 background-clip: border-box;
	 background-origin: padding-box;
	 background-size: auto auto;
	background: #E5ECCA;
	 */
	background: #FFFFFF;
	margin: 0px;
}

input[type="text"], input[type="password"], textarea{
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	/* border: 1px solid #51A7E8; */
	border-color: #51A7E8;
	box-shadow: 0 1px 2px rgba(0,0,0,0.075) inset, 0 0 5px rgba(81,167,232,0.5);
	/* background-color: #ffc; */
}

#my-siteContain {
	margin: 0 auto;
	width: 950px;
	min-height: 800px;
}
#my-siteContain:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

/**/
#my-header {
	/* 
	 background-color: #3b89ba; #2D2D2D;
	 float: left;
	 background-repeat: no-repeat;
	 background-position: left top;
	 */
	background-color: #006666;
	width: 100%;
	height: 80px;
	opacity: 1.0;
	/*
	width: 950px;
	height: 100px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	*/
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
}

#my-logo {
	float: left;
	margin: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
}

#my-navigation{
	float: right;
	top: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
}

#my-navigation-home{
	background-image: url("/static/image/logo.png");
	/* background-color: #3b89ba; */
	/* height: 80px; */
	/* 
	color: #49495D;
	*/
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	text-decoration: none;
	width: 240px;
	height: 60px;
	margin-top: 8px;
	margin-left: 24px;
	font-style: italic;
	font-size: 48px;
	color: #000;
	font-weight; bold;
	text-shadow: 8px 8px 8px #333333;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}

#my-station-desc {
	float: left;
	padding-top: 40px;
	width: 240px;
	margin-top: 8px;
	color: #bbb;
	font-size: 13px;
	font-style: italic;
}

#my-navigation a:link,
#my-navigation a:visited {
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-shadow: 4px 4px 4px #333333;
}

#my-navigation li:hover,
#my-navigation li:focus,
#my-navigation li:hover a,
#my-navigation li:hover a:hover,
#my-navigation li:hover a:focus,
#my-navigation li:hover a:active,
#my-navigation .selected,
#my-navigation .selected a{
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #ffcc00;
	text-shadow: 4px 4px 4px #333300;
}

#my-navigation ul {
	float: left;
	list-style-type: none;
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

#my-navigation li{
	display: block;
	float: left;
	margin: 6px 0px 6px 0px;
}

#my-navigation li a {
	display: block;
	padding: 0.2em 0.5em;
}

#my-content {
	width: 950px;
	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
}

.simple-list {
	/*
	 float: left;
	 */
	width: 718px;
	margin-top: 16px;
	margin-bottom: 5px;
	/*
	background: #FFFFFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
	*/
	/*min-height: 400px;*/
	height: auto !important;
	height: 100px;
}

.simple-list:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.simple-list>h1 {
	/* background-color: #669999; */
	font-style: italic;
	color: #FFF;
	background-color: #669999;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 12px;
	/* border-bottom: 2px solid #656f7a; */
}

.simple-list ul {
	list-style: none;
	padding: 5px;
	padding-top: 0px;
	margin: 0px;
}

.photoedit {
	color: #1D7591;
	cursor: pointer;
}

.simple-list .photo-li {
	float: left;
	width: 160px;
	margin: 5px;
	background: #F2F2F2;
}

.form-item{
	margin-bottom: 10px;
}

.morecontent {
	float: right;
	margin-right: 4px;
}

.morecontent a{
	color: #FFFFFF;
}

.categoryattr {
	float: right;
	margin-right: 1em;
	padding-left: 4px;
	padding-right: 4px;
	background: #669999;
}

.categoryattr > a {
	color: #fff;
}

.mgr-content{
	width: 100%;
}

.mgr-content form{
	/*
	padding: 10px;
	margin: 20px;
	border: 1px solid #339933;
	*/
}

/*
.mgr-content form:after, .form-item:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}
*/

.mgr-content label, .mgr-content input, .mgr-content select{
	display: block;
	width: 95%;
	margin: 0px 0px 5px 0px;
}

.mgr-content textarea{
	width: 93%;
}

.mgr-content button{
	margin: 10px 0px;
}

#submit, #new, #delete{
	display: inline;
	width: auto;
	margin-right: 10px;
}

#resourcelable {
	display: none;
}

.photo-row {
	float: left;
	width: 100%;
}

.photo-item {
	float: left;
}

.photo-item ul {
	float: left;
	padding: 5px;
}

.photo-li img {
	/*
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
	*/
}

.blog-item, .resource-item {
	border: 2px solid #fff;
	padding-bottom: 10px;
}

.blog-head, .resource-head {
	font-size: 18px;
	font-weight: bold;
}

.blog-attrs, .resource-attrs{
	font-style: italic;
	margin-bottom: 8px;
	font-size: 12px;
}

.blog-item .blog-head, 
.resource-head,
.resource-attr, 
.resource-content, 
.blog-attr, 
.blog-content {
	margin: 2px;
	padding: 2px;
}
.blog-content>p, 
.blog-content>h1,
.blog-content>h2,
.blog-content>h3{
	margin-top: 2px;
}

.blog-content>h1,
.blog-content>h2,
.blog-content>h3{
	font-weight: bold;
}

.blog-attr, .resource-attr {
	color: #5a9594;
}

.simple-list .blog-li, .simple-list .resource-li {
	/* 
	 * border: 1px solid #fff;
	 * border-top: 1px dashed #339933;
	 */
	border: 1px solid #fff;
	border-bottom: 1px solid #eee;
	padding-top: 8px;
	padding-bottom: 6px;
	margin-bottom: 10px;
	/* background: #EDF4F1; */
}

/*
.simple-list .blog-item:hover, .simple-list .resource-item:hover {
	border: 2px solid #FFAC4D;
}
*/


.simple-list #photo-ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
	border-top: 1px dashed #339933;
}

#scrollUp {
	background-image: url("/static/image/top.png");
}

#scrollDown {
	background-image: url("/static/image/bottom.png");
}

#scrollUp, #scrollDown{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto auto;
	bottom: 20px;
	height: 38px;
	right: 20px;
	width: 38px;
	margin-left: 8px;
	margin-top: 16px;
	display: block;
	float: right;
	z-index: 2147483647;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
	*/
}

/*
.simple-list .blog-li:nth-child(even) {
background: #EDF4F1;
}
 */

/*
 * split page
 */
.splitpagediv {
	float: left;
	position: relative;
	left: 100px;
	text-align: center;
	padding-bottom: 5px;
}

.splitpage {
	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
	list-style-type: none;
}

.splitpage li{
	float: left;
	margin-right: 0.6em;
}

.splitpage li.pageindex {
	display: block;
	border: 1px solid #ccc;
	cursor: pointer;
}

.splitpage li.photopageindex {
	display: block;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 4px 8px;
}

.splitpage li.selectpage{
	display: block;
	padding: 4px 8px;
	border: 1px solid #ccc;
}

.splitpage li.pageindex:hover,
.splitpage li.selectpage{
	background-color: black;
	color: white;
}

.splitpage li[rel="prev"],
.splitpage li[rel="next"] {
	border: none;
}

.splitpage li[rel="prev"]:before {
	content: "<<";
	padding-right: 0.5em;
}

.splitpage li[rel="next"]:after {
	content: ">>";
	padding-left: 0.5em;
}

.splitpage li a {
	float: left;
	padding: 4px 8px;
}

/*
 * main
 */
#my-main {
	float: left;
	width: 730px;
	/* border-right: 1px dashed #339933; */
}

#my-side {
	/*
	float: right;
	*/
}

#right-col {
	float: right;
	width: 200px;
}

.widget-side {
	float: left;
	/* background: #E7F2FA; */
	background: #FAFAFA;
	margin-top: 16px;
	margin-left: 0px;
	margin-right: 0px;
	width: 218px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*
	-webkit-box-shadow: 3px 3px 6px #666; 
	-moz-box-shadow: 3px 3px 6px #666; 
	box-shadow: 3px 3px 6px #666;
	*/
}

.widget-side h4 {
	font-style: italic;
	font-size: 16px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	background-color: #669999;
	color: #fff;
	padding: 5px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 0px 0px;
}

.widget-side ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.widget-side ul li {
	display: block;
	padding: 0em 0.5em;
}

.widget-side ul a:before {
	padding-left: 8px;
	content: "";
	padding-right: 1.5em;
}

.widget-side ul li.selected a:before {
	padding-left: 0px;
    color: #40495B;
    font-weight: bold;
	/* content: "=>"; */
	padding-right: 0.3em;
	content: "@";
}

.widget-side ul li.selected a {
	/*
    color: #40495B;
    font-weight: bold;
	*/
}

#login-info{
	margin-left: 8px;
	margin-right: 10px;
}

#login-info>#login-option label, #login-info>#login-option input{
	display: inline;
	margin: 8px;
}

#login-form {
	display: none;
}

.login-item {
	width: 220px;
}

.login-item>input {
}

#login-info .authphoto{
	cursor: pointer;
}

#login-form img{
	margin: 10px;
}

.login-help{
	/* background: #f0efec; */
	margin-left: 0px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 0px;
	width: 100%;

	background: #fffeb6;
	border: 1px solid #888800;
}

.login-help span{
	width: 100%;
	text-align: center;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
}

.errContent {
	display: block;
	color: red;
	font: bold;
	text-align: center;
}

#userform #new, #userform #delete, #userform #submit{
	width: auto;
	margin-right: 10px;
}

.modal-dialog {
	width: 300px; /* SET THE WIDTH OF THE MODAL */
}

.modal-header {
	color: #0000FF;
	font-weight: bold;
}

#my-footer {
	clear: both;
	background-color: #006666;
	/*
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	 */
width: 100%;
opacity: 1.0;

margin-top: 8px;
/*
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
 */
-webkit-box-shadow: 3px 3px 6px #666; 
-moz-box-shadow: 3px 3px 6px #666; 
box-shadow: 3px 3px 6px #666;
}

#my-footer p {
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin: 8px;
}

pre {
	background: none repeat scroll 0% 0% #272822;
	color: #F8F8F2;
}
