<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="baidu-site-verification" content="bHvQ6gFu33" />
		<meta name="google-site-verification" content="vk-UicA5s3bUfvIbgE9eYTECP9MbTtXQrRsBvVBvbvw" />
		<title>${self.title()}${config.title}</title>
		<meta name="keywords" content="${self.keywords()}">
		<link type="image/x-icon" rel="Shortcut Icon" href="/static/image/favicon.png"/>
		<!--
		<link type="text/css" href="/static/css/hot-sneaks/jquery-ui.css" rel="Stylesheet" />	
		-->
		<link type="text/css" href="http://cdn.bootcss.com/magnific-popup.js/0.9.9/magnific-popup.css" rel="Stylesheet" />
		<link type="text/css" href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Optional theme -->
		<link type="text/css" href="/static/css/my.css" rel="Stylesheet" />
		<link type="text/css" href="/static/css/pygments.css" rel="Stylesheet" />
		${self.loadcss()}
	</head>

<%
menus = []
menus.append(('/blog', '<a href="/blog/0">日志</a>'))
menus.append(('/photo', '<a href="/photo/0">相册</a>'))
menus.append(('/resource', '<a href="/resource">资源</a>'))
if mgrprivilege:
	menus.append(('/manage', '<a href="/manage/blog">管理</a>'))
if login:
	menus.append(('/logout', '<a id="logout" onclick="logoutclick();" href="">退出</a>'))
else:
	#menus.append(('/login', '<a href="/login">登录</a>'))
	menus.append(('/login', '<a href="/login" data-toggle="modal" data-title="登录" data-target="#loginModal">登录</a>'))
%>
<%doc>
menus.append('<a href="/about">关于</a>')
</%doc>

	<body id="my-interior">
		<div id="my-header">
			<a id="my-navigation-home" href="http://www.hopez.org" alt="${config.station_desc}"></a>
			<span id="my-station-desc">${config.station_desc}</span>
			<div id="my-navigation">
				<ul>
					% for menu in menus:
					% if menu[0] == menuname:
					<li class='selected'>${menu[1]}</li>
					% else:
					<li>${menu[1]}</li>
					% endif
					% endfor
				</ul>
			</div>
		</div>
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<div id="my-siteContain">
			<div id="my-content">
				<div id="my-main">
					${self.body()}
				</div>
				<div id="right-col">
					<div class="pinned" id="my-side">
						<div class="widget-side">
							${self.category()}
						</div>
						% for widget in config.widgets:
						<div class="widget-side">
							<h4>${widget}</h4>
							<ul class="newlink">
							% for (name, link) in config.widgets[widget].iteritems():
                            % if link:
							<li><a href="${link}" target="_blank">${name}</a></li>
                            % else:
                            <li><a href="##">${name}</a></li>
                            % endif
							% endfor
							</ul>
						</div>
						% endfor
						<!--
						<div class="widget-side">
							<h4>友情链接</h4>
							<ul class="newlink">
								<li><a href="http://www.rui-yang.com/" target="_blank">Everybody loves Rui</a></li>
							</ul>
						</div>
						<div class="widget-side">
							<h4>国外优秀vps推荐(本人在用)</h4>
							<ul class="newlink">
								<li><a href="https://www.linode.com/?r=54f6d21e62c7f28225452ca22145a2101ec5e023" target="_blank">linode 最好(本站用)</a></li>
								<li><a href="http://www.prometeus.net/billing/aff.php?aff=122" target="_blank">prometeus 低价&稳定</a></li>
								<li><a href="https://clientarea.ramnode.com/aff.php?aff=1614" target="_blank">ramnode 低价&稳定</a></li>
							</ul>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
		<div id="my-footer">
			<p><span>&copy;2010-2014 www.hopez.org, all rights reserved</span></p>
		</div>
	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script type="text/javascript" src="/static/js/pirobox.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	-->
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<!--
	<script type="text/javascript" src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script>
	-->
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/myjs.js"></script>
	${self.loadjs()}
	<script type="text/javascript">
		$("#loginModal").on("hidden.bs.modal", function() {
				$(this).removeData("bs.modal");
				});
/*
		$(function(){
				var scollTop = function(info){
				$(".pinned").pin({containerSelector: "#my-content",
					minWidth: 940});};
				$(scollTop);
				$(document).ajaxComplete(scollTop);
				});
				*/
	</script>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F688219a6dee68bfbe28a2348e953ac1c' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-52301067-1', 'auto');
		ga('send', 'pageview');
	</script>
	</body>
	</html>

	<%def name="title()">
	</%def>
	<%def name="keywords()">
	</%def>
	<%def name='loadcss()'>
	</%def>
	<%def name='loadjs()'>
	</%def>

