<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="baidu-site-verification" content="bHvQ6gFu33" />
		<title>逆水行舟</title>
		<link type="image/x-icon" rel="Shortcut Icon" href="/static/image/favicon.png"/>
		<!--
		<link type="text/css" href="/static/css/hot-sneaks/jquery-ui.css" rel="Stylesheet" />	
		-->
		<link type="text/css" href="http://cdn.bootcss.com/magnific-popup.js/0.9.9/magnific-popup.css" rel="Stylesheet" />
		<link type="text/css" href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Optional theme -->
		<link type="text/css" href="/static/css/my.css" rel="Stylesheet" />
		<link type="text/css" href="/static/css/pygments.css" rel="Stylesheet" />
		${self.loadcss()}
	</head>

<%
menus = []
menus.append(('/blog', '<a href="/blog/0">日志</a>'))
menus.append(('/photo', '<a href="/photo/0">相册</a>'))
menus.append(('/resource', '<a href="/resource">资源</a>'))
if mgrprivilege:
	menus.append(('/manage', '<a href="/manage/blog">管理</a>'))
if login:
	menus.append(('/logout', '<a id="logout" onclick="logoutclick();" href="">退出</a>'))
else:
	#menus.append(('/login', '<a href="/login">登录</a>'))
	menus.append(('/login', '<a href="/login" data-toggle="modal" data-title="登录" data-target="#loginModal">登录</a>'))
%>
<%doc>
menus.append('<a href="/about">关于</a>')
</%doc>

	<body id="my-interior">
		<div id="my-header">
			<a id="my-navigation-home" href="/"></a>
			<div id="my-navigation">
				<ul>
					% for menu in menus:
					% if menu[0] == menuname:
					<li class='selected'>${menu[1]}</li>
					% else:
					<li>${menu[1]}</li>
					% endif
					% endfor
				</ul>
			</div>
		</div>
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<div id="my-siteContain">
			<div id="my-content">
				<div id="my-main">
					${self.body()}
				</div>
				<div id="right-col">
					<div class="pinned" id="my-side">
						<div class="widget-side">
							${self.category()}
						</div>
						<div class="widget-side">
							<h4>友情链接</h4>
							<ul class="newlink">
								<li><a href="http://www.rui-yang.com/">Everybody loves Rui</a></li>
							</ul>
						</div>
						<div class="widget-side">
							<h4>个人资料</h4>
							<ul class="newlink">
								<li>zhangshizhuo@gmail.com</li>
							</ul>
						</div>
						<!--
						<div class="widget-side">
							<h4>阅读，电影</h4>
							<script type="text/javascript" src="http://www.douban.com/service/badge/29839642/?selection=random&amp;picsize=medium&amp;show=collection&amp;n=8&amp;hidelogo=on&amp;cat=book&amp;columns=2"></script>
						</div>
						<a id="scrollDown" href="#my-footer" title=""></a>
						<a id="scrollUp" href="#top" title=""></a>
						-->
					</div>
				</div>
			</div>
		</div>
		<div id="my-footer">
			<p><span>&copy;2010 www.hopez.org, all rights reserved</span></p>
		</div>
	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script type="text/javascript" src="/static/js/pirobox.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	-->
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<!--
	<script type="text/javascript" src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script>
	-->
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/myjs.js"></script>
	${self.loadjs()}
	<script type="text/javascript">
		$("#loginModal").on("hidden.bs.modal", function() {
				$(this).removeData("bs.modal");
				});
/*
		$(function(){
				var scollTop = function(info){
				$(".pinned").pin({containerSelector: "#my-content",
					minWidth: 940});};
				$(scollTop);
				$(document).ajaxComplete(scollTop);
				});
				*/
	</script>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F688219a6dee68bfbe28a2348e953ac1c' type='text/javascript'%3E%3C/script%3E"));
	</script>
	</body>
	</html>

	<%def name='loadcss()'>
	</%def>
	<%def name='loadjs()'>
	</%def>

