<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>逆水行舟</title>
		<link type="text/css" href="/static/css/hot-sneaks/jquery-ui.css" rel="Stylesheet" />	
		<link type="text/css" href="/static/css/my.css" rel="Stylesheet" />
		<link href="/static/css/demo1/style.css" media="screen" title="shadow" rel="stylesheet" type="text/css" />
		${self.loadcss()}
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/pirobox.js"></script>
		<script type="text/javascript" src="/static/js/myjs.js"></script>
	</head>

<%def name="loadcss()">
</%def>

	<body id="my-interior">

<div id="my-siteContain">
	<div id="my-header">
		<a id="my-navigation-home" href="/"></a>
		<div id="my-navigation">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/blog/0">日志</a></li>
				<li><a href="/photo">相册</a></li>
				<li><a href="/resource">资源</a></li>
				% if mgrprivilege:
				<li><a href="/manage/blog">管理</a></li>
				% endif
				% if login:
				<li><a id="logout" onclick="logoutclick();" href="/login">退出</a></li>
				% else:
				<li><a href="/login">登录</a></li>
				% endif
				<!--
				<li><a href="/about">关于</a></li>
				-->
			</ul>
		</div>
	</div>

	<div id="my-content">
		<div id="my-main">
			${self.body()}
		</div>
		<div id="my-side">
			<div class="widget-side">
				${self.category()}
			</div>
			<div class="widget-side">
				<h4>友情链接</h4>
				<ul class="newlink">
					<li><a href="http://www.rui-yang.com/">Everybody loves Rui</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="my-footer">
		<p><span>&copy;2010 www.hopez.org, all rights reserved</span></p>
	</div>
</div>
</body>
<script type="text/javascript">
	$(setmenu);
	</script>
</html>

