<%inherit file='base.html' />

<%def name="loadcss()">
<!--
<link type="text/css" rel="stylesheet" href="/static/third/syntaxhighlighter/styles/shCoreDefault.css"/>
-->
</%def>
<%def name='loadjs()'>
<!--
<script type="text/javascript" src="/static/third/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/third/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
-->
<script type="text/javascript">
$(".pageindex").bind("click", function(event){
		window.location.href = $(this).attr('tourl');
});
</script>
</%def>

<%
mapcategoryname = {}
for item in categorys:
	mapcategoryname[item['category_id']] = item['name']
%>

<%def name="category()">
<h4>分类</h4>
<ul id="blogcategory">
% for item in categorys:
% if item['category_id'] == int(categoryid):
<li class="selected">
% else:
<li>
% endif
<a href='/blog/${item["category_id"]}'>${item['name']}  (${item['count']})</a>
</li>
% endfor
</ul>
</%def>

<div class="simple-list">
	<h1 id="blog-title">${mapcategoryname[int(categoryid)]}</h1>
	<ul id="blog-ul">
		% for blog in blogs:
		<li class="blog-li">
		% if blogid:
		<div class="blog-content">
		% else:
		<div class="blog-item">
			% endif
			<div class="blog-head">
				<a href="/blog/${blog['category_id']}/${blog['blogid']}">
					${blog['title']}
				</a>
			</div>
			<div class="blog-attrs">
				<span class="blog-attr">${blog['published']}</span>
				<span class="blog-attr">${blog['updated']}[U]</span>
				<span class="categoryattr">
					<a href="/blog/${blog['category_id']}/">${mapcategoryname[blog['category_id']]}</a>
				</span>
			% if mgrprivilege:
			<span class="blog-attr">
				<a href="/manage/blog/${blog['blogid']}">编辑</a>
			</span>
			% endif
			</div>
			<div class="blog-content">
			% if blogid:
				${blog['content']}
			% else:
				${blog['summary']}
			% endif
			</div>
		</div>
		</li>
		% endfor
	</ul>
</div>
% if not blogid:
<div class="splitpagediv">
	<ul class="splitpage">
		% for i in range(1, pagecount+1):
		% if pageidx == i:
		<li class="selectpage" index="${i}">${i}</li>
		% else:
		<li class="pageindex" index="${i}" tourl="/blog/${categoryid}/${i}/${pagesize}">${i}</li>
		% endif
		% endfor
	</ul>
</div>
% endif

