<%inherit file="mgrbase.html" />

<div class="simple-list">
	<div class="mgr-content">
		<h1>日志管理</h1>
		% if mgrprivilege:
		<div class="blogform">
			<form action="" method="post">
				<div class="form-item">
					<label>id:</label><label name="id"></label>
				</div>
				<div class="form-item">
					<label>标题:</label>
					<input type="text" name="title" value="" />
				</div>
				<div class="form-item">
					<label>内容:</label>
				</div>
				<div class="form-item">
					<textarea id="wiki" name="content" rows="20" cols="40" ></textarea>
				</div>
				<div class="form-item" id="privilege">
					<label>权限：</label>
					<select>
						<option value="-1">匿名可读</option>
						<option value="0">用户可读</option>
						<option value="1">用户读写</option>
						<option value="2">管理员读写</option>
					</select>
				</div>
				<div class="form-item" id="blogcategory">
					<label>分类：</label>
					<select>
					</select>
				</div>
				<input type="button" name="submit" value="提交" id="submit"></input>
				<input type="button" name="new" value="新建" id="new"
				onclick="window.location.href='/manage/blog'"></input>
				<input type="button" name="delete" value="删除" id="delete"></input>
			</form>
		</div>
		% else:
		${self.errPrivilege()}
		% endif
	</div>
</div>

<%def name='loadjs()'>
% if mgrprivilege:
<link rel="stylesheet" type="text/css" href="/static/third/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/static/third/markitup/sets/wiki/style.css" /> 
<script type="text/javascript" src="/static/third/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/static/third/markitup/sets/wiki/set.js"></script>
<!--
<script type="text/javascript" src="/static/third/tiny_mce/tiny_mce.js"></script>
-->
<script type="text/javascript">
	% if blogid:
	setneworedit.blogid = ${blogid};
% else:
	setneworedit.blogid = null;
% endif

	$(initmgrblog);
</script>
% endif
</%def>

