<%inherit file='base.html' />

<%doc>
<%def name="category()">
<h4>分类</h4>
<ul>
<li>暂无</li>
</ul>
</%def>
<a href='/photo/${item["category_id"]}'>${item['name']}  (${item['count']})</a>
% if item['category_id'] == int(categoryid):
</%doc>

<%def name="title()">
% if blogid:
<% return blogs[0]['title'] + ' - ' %>
% else:
% for item in categorys:
% if item['category_id'] == int(categoryid):
<% return item['name'] + ' - ' %>
% endif
% endfor
<% return '' %>
% endif
</%def>

<%def name="keywords()">
</%def>


<%def name="category()">
<h4>分类</h4>
<ul id="photocategory">
% for item in categorys:
% if item['category_id'] == int(categoryid):
<li class="selected">
% else:
<li>
% endif
<a href='/photo/${item["category_id"]}'>${item['name']}  (${item['count']})</a>
</li>
% endfor
</ul>
</%def>

<div class="simple-list">
<h1>照片<span>风景 旅游</span></h1>
<ul id="photo-ul" class="popup-gallery">
</ul>
</div>
<div class="splitpagediv"><ul class="splitpage"></ul></div>

<%def name='loadjs()'>
<script type="text/javascript">
	var bedit = false;
	% if mgrprivilege:
	bedit = true;
	% endif
	$(function(){splitpage("/rest/photo/count/${categoryid}/", 
				"/rest/photo/list/${categoryid}/", 
				1, 
				${photocount}, 
				6, 
				{bedit: bedit}, 
				showphoto);});
</script>
</%def>
